body {
  header {
    nav {
      .container-fluid a {
        font-size: 30px;
        font-family: "Dancing Script", cursive;
      }
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: center;
      }
    }
  }
}
