.accesoriosPage {
  main {
    .t1 {
      div {
        h1 {
          @extend %titulo1;
        }
      }

      div {
        img {
          @extend %imagelogo;
        }
      }
    }

    #contenedor_Productos {}

    .panel_carrito {

      #o_menor_mayor {
        @extend %b_menor_mayor;
      }

      #o_mayor_menor {
        @extend %b_mayor_menor;
      }

      .imag_js {
        width: 200px;
        height: 220px;
        border-radius: 15%;
      }

      .titulo_h2 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        text-shadow: 3px 3px 3px #000000;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 132);
        border-radius: 15%;
      }

      .precio_js {
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-shadow: 3px 3px 3px #000000;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 132);
        border-radius: 15%;
      }

      #eliminar_Producto {
        width: 35px;
        height: 35px;
        border-radius: 10%;

        img {
          width: 35px;
          height: 35px;
          border-radius: 15%;
        }
      }

      .precioProducto {
        color: aliceblue;
        text-shadow: 2px 2px 2px rgb(255, 0, 119);
        font-size: 30px;
      }

      #vaciar_carrito {
        width: 400px;
        height: 50px;
        border-radius: 5%;
        font-size: 30px;
        color: white;
        text-shadow: #00ff48;
        background-color: #00425e;
      }
      #pagar {
        width: 400px;
        height: 50px;
        border-radius: 5%;
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-shadow: #00ff48;
        background-color: #eeff00;
      }

    }

    @media only screen and (min-width: 320px) and (max-width: 500px) {
      .t1 {
        div {
          width: auto;
          height: auto;

          h1 {
            font-size: 30px;
          }
        }

        div {
          width: auto;
          height: auto;

          img {
            width: 300px;
            height: 300px;
          }
        }
      }

      #contenedor_Productos {
        margin: 1em 5em 1em 5em;
        display: grid;
        grid-template-areas:
          "item1"
          "item2"
          "item3"
          "item4"
          "item5";

        div {
          width: auto;
          height: auto;
          display: block;
          margin: auto;

          img {
            width: 200px;
            height: 200px;
          }

          div {

            h2 {
              font-size: 30px;
            }

            p {
              font-size: 25px;
            }

            a {
              font-size: 22px;
              width: 200px;
              height: 80px;
            }

          }
        }
      }
    }
  }
}