* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  background-color: #ff92bc;
}

body header nav .container-fluid a {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}
body header nav img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: center;
}

.accesoriosPage main .t1 div h1, .ropaPage main .t1 div h1, .higienePage main .t1 div h1, .T1 .titulo_principal div h1, .T1 .titulo_principal h1 {
  text-shadow: 3px 3px 3px #ffffff;
  text-align: center;
  color: #3a3337;
  font-size: 60px;
}

.T1 .titulo_principal div img, .T1 div img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.sobreti div h2, .pagos div h2, .maps div h2, .raza h2, .opinion h2, .consejo div h2, .t2 div h2, .T1 div h2 {
  font-size: 50px;
  text-align: center;
  color: #3a3337;
  text-shadow: 3px 3px 3px #ffffff;
  padding: 1rem 0rem 1rem 0rem;
}

.consejo div h3, .vyt h3, .titulo_product div h3 {
  font-size: 35px;
  text-align: center;
  color: #3a3337;
  text-shadow: 3px 3px 3px #ffffff;
  padding: 1rem 0rem 1rem 0rem;
}

.consejo div p, .t2 div p {
  font-size: 30px;
  text-align: center;
  color: #3a3337;
  padding: 1rem 0rem 1rem 0rem;
}

.accesoriosPage main .panel_carrito #o_menor_mayor, .ropaPage main .panel_carrito #o_menor_mayor, .higienePage main .panel_carrito #o_menor_mayor, .panel_carrito #o_menor_mayor {
  width: 180px;
  height: 60px;
  background-color: rgb(0, 4, 255);
  color: #ffffff;
  font-size: 20px;
}

.accesoriosPage main .panel_carrito #o_mayor_menor, .ropaPage main .panel_carrito #o_mayor_menor, .higienePage main .panel_carrito #o_mayor_menor, .panel_carrito #o_mayor_menor {
  width: 180px;
  height: 60px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  font-size: 20px;
}

.T1 {
  text-shadow: 3px 3px 3px #000000;
}
.productos {
  background-color: #ff92bc;
}
.productos .image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ff92bc;
}
.productos .image img {
  width: 300px;
  height: 300px;
  background-position: center;
  border-radius: 20%;
}

#product div ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  list-style-type: none;
  overflow: hidden;
  height: 80px;
  padding: 1rem;
}
#product div ul li {
  display: flex;
  flex-grow: 1;
  float: left;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 3px 3px 5px #000000;
  height: 80px;
  width: 10em;
}
#product div ul li a {
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
#product div ul li a:active {
  background: #000000;
  width: 300px;
}
#product div ul li a:hover {
  background-color: #ff0088;
  border-radius: 40%;
  width: 300px;
}

.vyt .video_yt {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

.panel_carrito .imag_js {
  width: 200px;
  height: 220px;
  border-radius: 15%;
}
.panel_carrito .titulo_h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.panel_carrito .precio_js {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.panel_carrito #eliminar_Producto {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}
.panel_carrito #eliminar_Producto img {
  width: 35px;
  height: 35px;
  border-radius: 15%;
}
.panel_carrito .precioProducto {
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(255, 0, 119);
  font-size: 30px;
}
.panel_carrito #vaciar_carrito {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: white;
  text-shadow: #00ff48;
  background-color: #00425e;
}
.panel_carrito #pagar {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: #00ff48;
  background-color: #eeff00;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .T1 .titulo_principal div h1 {
    font-size: small;
  }
  .T1 div h2 {
    font-size: 25px;
    text-align: center;
  }
  .titulo_product div h3 {
    font-size: 25px;
  }
  .productos .image {
    display: grid;
    grid-template-areas: "item1" "item2" "item3" img;
    grid-template-areas-width: 7rem;
    grid-template-areas-height: 7rem;
  }
  #product div ul li {
    margin: 0;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #product div ul li a {
    font-size: 25px;
  }
  .vyt h3 {
    font-size: 25px;
  }
  .vyt .video_yt {
    margin: 0;
    padding-left: 3rem;
    width: 250px;
    height: 200px;
  }
  #contenedor_Productos {
    margin: 1em 5em 1em 5em;
    display: grid;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
  #contenedor_Productos div {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
  #contenedor_Productos div img {
    width: 200px;
    height: 200px;
  }
  #contenedor_Productos div div h2 {
    font-size: 30px;
  }
  #contenedor_Productos div div p {
    font-size: 25px;
  }
  #contenedor_Productos div div a {
    font-size: 22px;
    width: 200px;
    height: 80px;
  }
}
.opinion div {
  display: block;
}
.opinion div #area {
  width: auto;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.maps div #map {
  margin: 10px;
  width: 1720px;
  height: 300px;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .T1 .titulo_principal h1 {
    font-size: 30px;
  }
  .T1 .titulo_principal img {
    width: 150px;
    height: 150px;
  }
  .t2 div h2 {
    font-size: 25px;
  }
  .t2 div p {
    font-size: 20px;
  }
  .consejo div h2 {
    font-size: 25px;
  }
  .consejo div h3 {
    font-size: 20px;
  }
  .consejo div div p {
    font-size: 15px;
  }
  .opinion h2 {
    font-size: 25px;
  }
  .opinion #area {
    font-size: 20px;
  }
  .raza h2 {
    font-size: 25px;
  }
  .maps div h2 {
    font-size: 25px;
  }
  .maps div #map {
    margin: 5px;
    width: 320px;
    height: 200px;
  }
}
#campo div {
  margin: 0;
}
#campo div form {
  width: 600px;
  height: 400px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}
#campo div form label, #campo div form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#campo div form .campos {
  margin: 5px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-items: last baseline;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  padding: 2rem 0rem 2rem 0rem;
  padding: 2rem 0rem 2rem 0rem;
}
#campo div form .campos #name,
#campo div form .campos #lastname,
#campo div form .campos #username,
#campo div form .campos #correo,
#campo div form .campos #contra,
#campo div form .campos #direc,
#campo div form .campos #btn {
  margin: 5px;
  width: 250px;
  height: 40px;
  font-size: 20px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  background-color: #3a3337;
  color: #ffffff;
  padding: 1rem 0rem 1rem 2rem;
}
#campo div form .campos #name:focus, #campo div form .campos #direc:focus, #campo div form .campos #contra:focus, #campo div form .campos #correo:focus, #campo div form .campos #username:focus, #campo div form .campos #lastname:focus {
  border: 10px solid rgb(255, 107, 186);
}
#campo div form .campos #btn {
  text-align: center;
  background: rgb(212, 0, 117);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: pointer;
}

.pagos {
  margin: 5rem 1rem 1rem 1rem;
  padding: 5rem 0rem 5rem 0rem;
}
.pagos div h5 {
  font-size: 20px;
  text-align: center;
}

.sobreti div {
  margin: 2rem 0rem 1rem 0rem;
}
.sobreti .botones .boton_clean {
  background-color: gray;
  width: 400px;
  height: 200px;
  font-size: 20px;
  color: white;
  padding: 2rem;
  border-radius: 1%;
}
.sobreti .botones .boton_send {
  background-color: blue;
  width: 450;
  height: 200px;
  font-size: 20px;
  color: white;
  padding: 2rem;
  border-radius: 1%;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .T1 .titulo_principal h1 {
    font-size: 50px;
  }
  .T1 .titulo_principal div img {
    width: 150px;
    height: 150px;
  }
  .pagos {
    padding: 20rem 0rem 1rem 0rem;
  }
  .pagos div h2 {
    font-size: 25px;
  }
  .pagos div h5 {
    font-size: 20px;
  }
  .sobreti div h2 {
    font-size: 25px;
  }
  .sobreti .text_are {
    width: 50px;
    height: 150px;
    margin: 1em 0rem 1em 0rem;
  }
}
.higienePage main .portada_image div {
  background-color: #00425e;
}
.higienePage main .portada_image div img {
  margin: 2rem 1rem 2rem 1rem;
  width: 100%;
  height: 350px;
  border-radius: 5%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}
.higienePage main .panel_carrito {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.higienePage main .panel_carrito .imag_js {
  width: 200px;
  height: 220px;
  border-radius: 15%;
}
.higienePage main .panel_carrito .titulo_h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.higienePage main .panel_carrito .precio_js {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.higienePage main .panel_carrito #eliminar_Producto {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}
.higienePage main .panel_carrito #eliminar_Producto img {
  width: 35px;
  height: 35px;
  border-radius: 15%;
}
.higienePage main .panel_carrito .precioProducto {
  background-color: #00425e;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(195, 0, 91);
  font-size: 30px;
}
.higienePage main .panel_carrito #vaciar_carrito {
  width: 400px;
  height: 40px;
  border-radius: 5%;
  font-size: 30px;
  color: white;
  text-shadow: #00ff48;
  background-color: #00425e;
}
.higienePage main .panel_carrito #pagar {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: #00ff48;
  background-color: #eeff00;
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .higienePage main .t1 div {
    width: auto;
    height: auto;
  }
  .higienePage main .t1 div h1 {
    font-size: 30px;
  }
  .higienePage main .t1 div {
    width: auto;
    height: auto;
  }
  .higienePage main .t1 div img {
    width: 300px;
    height: 300px;
  }
  .higienePage main #contenedor_Productos {
    margin: 1em 5em 1em 5em;
    display: grid;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
  .higienePage main #contenedor_Productos div {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
  .higienePage main #contenedor_Productos div img {
    width: 200px;
    height: 200px;
  }
  .higienePage main #contenedor_Productos div div h2 {
    font-size: 30px;
  }
  .higienePage main #contenedor_Productos div div p {
    font-size: 25px;
  }
  .higienePage main #contenedor_Productos div div a {
    font-size: 22px;
    width: 200px;
    height: 80px;
  }
}

.ropaPage main .portada_image div {
  background-color: #ca006f;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}
.ropaPage main .portada_image div img {
  margin: 1rem 1rem 1rem 1rem;
  width: 90%;
  height: 350px;
  border-radius: 10%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}
.ropaPage main .panel_carrito .imag_js {
  width: 200px;
  height: 220px;
  border-radius: 15%;
}
.ropaPage main .panel_carrito .titulo_h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.ropaPage main .panel_carrito .precio_js {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.ropaPage main .panel_carrito #eliminar_Producto {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}
.ropaPage main .panel_carrito #eliminar_Producto img {
  width: 35px;
  height: 35px;
  border-radius: 15%;
}
.ropaPage main .panel_carrito .precioProducto {
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(255, 0, 119);
  font-size: 30px;
}
.ropaPage main .panel_carrito #vaciar_carrito {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: white;
  text-shadow: #00ff48;
  background-color: #00425e;
}
.ropaPage main .panel_carrito #pagar {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: #00ff48;
  background-color: #eeff00;
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .ropaPage main .t1 div {
    width: auto;
    height: auto;
  }
  .ropaPage main .t1 div h1 {
    font-size: 30px;
  }
  .ropaPage main .t1 div {
    width: auto;
    height: auto;
  }
  .ropaPage main .t1 div img {
    width: 300px;
    height: 300px;
  }
  .ropaPage main #contenedor_Productos {
    margin: 1em 5em 1em 5em;
    display: grid;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
  .ropaPage main #contenedor_Productos div {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
  .ropaPage main #contenedor_Productos div img {
    width: 250px;
    height: 250px;
  }
  .ropaPage main #contenedor_Productos div div h2 {
    font-size: 30px;
  }
  .ropaPage main #contenedor_Productos div div p {
    font-size: 25px;
  }
  .ropaPage main #contenedor_Productos div div a {
    font-size: 22px;
    width: 200px;
    height: 80px;
  }
}

.accesoriosPage main .portada_image div {
  background-color: #00425e;
}
.accesoriosPage main .portada_image div img {
  margin: 2rem 1rem 2rem 1rem;
  width: 90%;
  height: 380px;
  border-radius: 5%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}
.accesoriosPage main .panel_carrito .imag_js {
  width: 200px;
  height: 220px;
  border-radius: 15%;
}
.accesoriosPage main .panel_carrito .titulo_h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.accesoriosPage main .panel_carrito .precio_js {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 132);
  border-radius: 15%;
}
.accesoriosPage main .panel_carrito #eliminar_Producto {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}
.accesoriosPage main .panel_carrito #eliminar_Producto img {
  width: 35px;
  height: 35px;
  border-radius: 15%;
}
.accesoriosPage main .panel_carrito .precioProducto {
  color: aliceblue;
  text-shadow: 2px 2px 2px rgb(255, 0, 119);
  font-size: 30px;
}
.accesoriosPage main .panel_carrito #vaciar_carrito {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: white;
  text-shadow: #00ff48;
  background-color: #00425e;
}
.accesoriosPage main .panel_carrito #pagar {
  width: 400px;
  height: 50px;
  border-radius: 5%;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: #00ff48;
  background-color: #eeff00;
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .accesoriosPage main .t1 div {
    width: auto;
    height: auto;
  }
  .accesoriosPage main .t1 div h1 {
    font-size: 30px;
  }
  .accesoriosPage main .t1 div {
    width: auto;
    height: auto;
  }
  .accesoriosPage main .t1 div img {
    width: 300px;
    height: 300px;
  }
  .accesoriosPage main #contenedor_Productos {
    margin: 1em 5em 1em 5em;
    display: grid;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
  .accesoriosPage main #contenedor_Productos div {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
  .accesoriosPage main #contenedor_Productos div img {
    width: 200px;
    height: 200px;
  }
  .accesoriosPage main #contenedor_Productos div div h2 {
    font-size: 30px;
  }
  .accesoriosPage main #contenedor_Productos div div p {
    font-size: 25px;
  }
  .accesoriosPage main #contenedor_Productos div div a {
    font-size: 22px;
    width: 200px;
    height: 80px;
  }
}

footer {
  background-color: #ffc2e9;
}
footer section .contenedorIcon {
  display: flex;
  justify-content: center;
}
footer section .contenedorIcon div {
  border-color: transparent;
}
footer section .contenedorIcon div h5 {
  font-size: 12px;
}
footer section .contenedorIcon div a img {
  width: 30px;
  height: 30px;
}
footer section div {
  border-width: thin;
  border-style: solid;
  border-color: rgb(253, 253, 253);
  font-size: 30px;
  text-align: center;
  contain: content;
}
footer section div img {
  width: 800px;
  height: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  footer {
    background-color: #ffc2e9;
  }
  footer section div p {
    font-size: 15px;
  }
  footer section div img {
    width: 300px;
    height: 15px;
  }
}

/*# sourceMappingURL=base_index.css.map */
