* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  background-color: #ff92bc;
}
@import "_header";
@import "_mixin";
@import "_variables_extend";
@import "_main_index";
@import "_main_aboutus";
@import "_main_perfil";
@import "_main_venta";
@import "_main_venta2";
@import "_main_venta3";
@import "_footer";
