*{
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
    background-color: #ff92bc;
}
@import "_variables_extend";
@import "_header";
@import "_main_index";
@import "_main_aboutus";
@import "_main_perfil";
@import "_main_venta";
@import "_footer";

